
   
<!-- footer begin -->
        <footer>
            <div class="container">
                <div class="row">


                    <div class="col-md-4">
                        <h3>Nuestros Servicios</h3>
                        <div class="tiny-border"></div>
                        <ul>
                            <li><a href="services.php">Gestiones aduanales</a></li>
                            <li><a href="services.php">Servicios de Carga Aérea</a></li>
                            <li><a href="services.php">Servicios de Carga Marítima</a></li>
                            <li><a href="services.php">Consolidacion</a></li>
                            <li><a href="services.php">Logistica</a></li>
                            <li><a href="services.php">Accesoria</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h3>Direccion</h3>
                        <div class="tiny-border"></div>
                        Plaza el Flamboyán , N0. 7 ,2do nivel <br>
                        Aut. las Américas km 25, 
                        La Caleta ,Boca Chica  R.D  
                        
                        (frente a la entrada del AILA)<br>
                        Tel : 829-954-7488<br>
                        Tel : 809-549-8800<br>    
                        Fax : 829-956-6250<br>    
                        Email : info@medinacargoxpress.com<br>    

                        <div class="divider-single"></div>
                        <div class="social-icons ">
                            <a href="https://www.facebook.com/MedinaCargoXpress/"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/medinacargord/"><i class="fa fa-instagram"></i></a>
                            <a href="mailto:info@medinacargoxpress.com"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h3>Solicitar Servicio</h3>
                        <div class="tiny-border"></div>
                        <p>Para  consultas o  solicituar   puede contactanos por esta via. </p>
                        <a href="contact.php" class="btn-border-light">Contactar</a>
                    </div>

                </div>
            </div>
            <div class="divider"></div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="spacer-single"></div>
                        &copy; Copyright 2018 - Medina Cargo
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="spacer-single"></div>
                        Desarrollado por: <a href="https://www.linkedin.com/in/franmen-guillermo-de-los-santos-4773b120">Guillermo De Los Santos</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->
    </div>

    <!-- LOAD JS FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/easing.js"></script>
    <script src="js/jquery.ui.totop.js"></script>
    <script src="js/ender.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/jquery.plugin.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.stellar.js"></script>
    <script src="js/typed.js"></script>
    <script src="js/jquery.scrollto.js"></script>
    <script src="js/custom.js"></script>
 
    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="js/revslider-custom.js"></script>
        

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDgF6b1btHI-Vy6Mwhm9OIUbQ6PsXz4Hec"></script>


</body>
</html>
