<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Demon Medina Cargo Xpress</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gestiones Aduanales , Logística,Consolidación,Transporte,Compras por internet, Asesorías.">
    <meta name="author" content="Franmen Guillermo de los santos">

    <!-- LOAD CSS FILES -->
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="preloader"></div>
    <div id="wrapper">
        <!-- header begin -->
        <header>
            <div class="container">
                <span id="menu-btn"></span>
                <div class="row">
                    <div class="col-md-3">

                        <!-- logo begin -->
                        <div id="logo">
                            <div class="inner">
                                <a href="index.php">
                                    <img src="img/Logo_MedinaXargo.png" alt="" class="logo-1">
                                    <img src="img/Logo_MedinaXargo_negro.png" alt="" class="logo-2">
                                </a>

                            </div>
                        </div>
                        <!-- logo close -->
                        
                    </div>

                    <div class="col-md-9">
                        
                        <!-- mainmenu begin -->
                        <nav id="mainmenu-container">
                            <ul id="mainmenu">
                                <li><a href="index.ejs">Inicio</a></li>
                                <!--<li><a href="services.ejs">Servicios</a></li>-->
                                <li><a href="about.ejs">Nosotros</a></li>
                                <!--<li><a href="track.html">Tracking</a></li>-->
                                <li><a href="convert.ejs">Herramientas</a>
                                    <ul>
                                        <li><a href="ports.ejs">Puerto Domincanos</a></li>
<!--                                        <li><a href="convert.ejs">Tabla de Conversiones</a></li>-->
<!--                                        <li><a href="links.ejs">Enlaces Intitucionales</a></li>-->
                                        <li><a href="info.ejs">Informaciones</a></li>
                                    </ul>
                                </li>
                                <!--<li><a href="news.html">News</a></li>-->
                                <!--<li><a href="gallery.html">Gallery</a></li>-->
                                <li><a href="contact.ejs">Contacto</a></li>
                                
                            </ul>
                            <a class="btn  btn-success" href="contact.ejs">Solicitar Cotizacion</a>
                        </nav>
                        <!-- mainmenu close -->

                        <!-- social icons -->
                        <div class="social">
                            <a href="https://www.facebook.com/MedinaCargoXpress"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/medinacargord"><i class="fa fa-instagram"></i></a>
                          
                            <a href="mailto:info@medinacargoxpress.com"><i class="fa fa-envelope-o"></i></a>
                        </div>
                        <!-- social icons close -->

                    </div>
                </div>
            </div>
        </header>
         <!-- header close -->
