
<%-include('header');%>
<!-- subheader begin -->
<section id="subheader" class="page-about no-bottom" data-stellar-background-ratio="0.5">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h1>Informaciones 
                        <span>Leyes, normativas y documentos institucionales. </span>
                    </h1>
                    <div class="small-border wow flipInY" data-wow-delay=".8s" data-wow-duration=".8s"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->


<!-- content begin -->
<div id="content">
    <div class="container">

        <div>
            <div class="weblink-category">
                
                <form action="#" method="post" name="adminForm" id="adminForm">
                    <ul class="category list-striped list-condensed">

                        <li class="cat-list-row0">


                            <div class="list-title">
                                												
                                <a href="https://www.aduanas.gob.do/" class="category" rel="nofollow">Dirección General de Aduanas </a>						</div>

                                <div class="img-intro-left"> <img src="img/links/DGA.jpg" alt=""> </div>

                            <p>Facilitar y controlar el comercio de la República Dominicana con el resto del mundo, teniendo como fundamento la eficiencia y transparencia de los procesos aduaneros, acorde con las mejores prácticas internacionales de la administración aduanera, el control de la evasión fiscal y el comercio ilícito, el fortalecimiento de la seguridad nacional y la protección de la salud y el medio ambiente.</p>						
                        </li>
                        
                    </ul>

                    <div class="pagination">
                        <p class="counter">
                        </p>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>
<!-- content close -->
<%-
include('contact_us');
%>
<%-
include('footer');
%>
<script src="js/contact.js"></script>
<script src="js/map.js"></script>
