
<%-
include('header' );
%>


        <!-- subheader begin -->
        <section id="subheader" class="no-bottom" data-stellar-background-ratio="0.5">
            <div class="overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Nuestros Servicios
                                            <span>Brindar un servicio excelente es la unica opcion</span></h1>
                            <div class="small-border wow flipInY" data-wow-delay=".8s" data-wow-duration=".8s"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <div class="clearfix"></div>

        <!-- content begin -->
        <div id="content" class="no-bottom">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-container">
                            <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                                <div class="box-with-icon-left">
                                    <i class="fa fa-ship icon-big"></i>
                                    <div class="text">
                                        <h2>Gestiones aduanales</h2>
                                        <p><span style="line-height: 1.3em;">Contamos con servicios de Gestión Aduanal para todo tipo de mercancías.</span></p>
                                        <ul>
                                            <li><span style="line-height: 1.3em;">Contenedores completos </span></li>
                                            <li><span style="line-height: 1.3em;">Carga suelta consolidada </span></li>
                                            <li><span style="line-height: 1.3em;">Importación y Exportación </span></li>
                                            <li><span style="line-height: 1.3em;">Zona Franca </span></li>
                                            <li><span style="line-height: 1.3em;">Internación Temporal </span></li>
                                            <li><span style="line-height: 1.3em;">Exportación Temporal </span></li>
                                            <li><span style="line-height: 1.3em;">Exoneraciones </span></li>
                                            <li><span style="line-height: 1.3em;">Vehículos </span></li>
                                            <li><span style="line-height: 1.3em;">Entre otros</span></li>
                                        </ul>
                                        <div class="divider-single"></div>
                                        <!--<a href="service-details-1.html" class="btn-text">View Details</a>-->
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                                <div class="box-with-icon-left">
                                    <i class="fa fa-send-o icon-big"></i>
                                    <div class="text">
                                        <h2>Servicios de Carga Aérea</h2>
                                        <p>Contamos con servicios marítimos desde gran parte del mundo y desde nuestro país hasta cualquier destino. </p>
                                        <ul>
                                            <li><span style="line-height: 1.3em;">Carga aérea consolidada </span></li>
                                            <li><span style="line-height: 1.3em;">Servicio puerta a puerta </span></li>
                                            <li><span style="line-height: 1.3em;">Importación y Exportación </span></li>
                                            <li><span style="line-height: 1.3em;">Entre otros</span></li>
                                        </ul>
                                        <!--<a href="service-details-2.html" class="btn-text">View Details</a>-->
                                    </div>
                                </div>
                            </div>

                            <div class="divider-double"></div>

                            <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                                <div class="box-with-icon-left">
                                    <i class="fa fa-cubes icon-big"></i>
                                    <div class="text">
                                        <h2>Logistica</h2>
                                        <p><span style="line-height: 1.3em;">Contamos con servicios de Gestión Aduanal para todo tipo de mercancías.</span></p>
                                        <ul>
                                            <li><span>Transporte  </span></li>
                                            <li><span>Almacén </span></li>
                                            <li><span>Recogida  </span></li>
                                            <li><span>Consolidación </span></li>
                                            <li><span>Origen </span></li>
                                        </ul>
                                        <div class="divider-single"></div>
                                        <!--<a href="service-details-3.html" class="btn-text">View Details</a>-->
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                                <div class="box-with-icon-left">
                                    <i class="fa fa-ship icon-big"></i>
                                    <div class="text">
                                        <h2>Servicios de Carga Marítima</h2>
                                        <p>Contamos con servicios marítimos desde gran parte del mundo y desde nuestro país hasta cualquier destino. </p>
                                        <ul>
                                            <li><span style="line-height: 1.3em;">Contenedores completos (FCL) </span></li>
                                            <li><span style="line-height: 1.3em;">Carga suelta consolidada (LCL) </span></li>
                                            <li><span style="line-height: 1.3em;">Consolidación de contenedores </span></li>
                                            <li><span style="line-height: 1.3em;">Importación y Exportacion </span></li>
                                            <li><span style="line-height: 1.3em;">Equipos especiales </span></li>
                                            <li><span style="line-height: 1.3em;">Contenedores refrigerados </span></li>
                                            <li><span style="line-height: 1.3em;">Carga sobredimensionada y sobrepasada </span></li>
                                            <li><span style="line-height: 1.3em;">Carga y descarga de contenedores </span></li>
                                            <li><span style="line-height: 1.3em;">Entre otros</span></li>
                                        </ul>
                     <div class="divider-single"></div>
                                        <!--<a href="service-details-1.html" class="btn-text">View Details</a>-->
                                    </div>
                                </div>
                            </div>

                            <div class="divider-double"></div>

                            <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                                <div class="box-with-icon-left">
                                    <i class="fa fa-link icon-big"></i>
                                    <div class="text">
                                        <h2>Consolidacion</h2>
                                        <p>The word cargo refers in particular to goods or produce being conveyed generally for commercial gain by ship, boat, or aircraft, although the term is now often extended to cover all types of freight, including that carried by train, van, truck, or container. </p>
                                        <div class="divider-single"></div>
                                        <!--<a href="service-details-2.html" class="btn-text">View Details</a>-->
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 wow fadeInUp" data-wow-delay="0">
                                <div class="box-with-icon-left">
                                    <i class="fa fa-forward icon-big"></i>
                                    <div class="text">
                                        <h2>Accesoria</h2>
                                        <p><span >Contamos con servicios de Gesti    ón Aduanal para todo tipo de mercancías.</span></p>
                                        <ul>
                                            <li><span>Cotizaciones  </span></li>
                                            <li><span>Informaciones generaciones </span></li>
                                            <li><span>Recomendaciones  </span></li>
                                            <li><span>Seguimientos </span></li>
                                            
                                        </ul>
                                        <div class="divider-single"></div>
                                        <!--<a href="service-details-3.html" class="btn-text">View Details</a>-->
                                    </div>
                                </div>
                            </div>


                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <?php
                include './partners.php';
            ?>

        </div>
 <%-
    include('contact_us');
    include('footer');
 %>
